# NOTE: This file is auto generated by OpenAPI Generator 7.8.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule Opsgeniex.Api.Default do
  @moduledoc """
  API calls for all endpoints tagged `Default`.
  """

  alias Opsgeniex.Connection
  import Opsgeniex.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (Opsgeniex.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:apiKey` (String.t): 

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec dyna_integration(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def dyna_integration(connection, opts \\ []) do
    optional_params = %{
      :apiKey => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/v1/json/dynatraceappmon")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end
end
